.env
.DS_Store
node_modules
cookies/*
output/*
db/*
*.txt
logins/*
!logins/exampleAccount.js
bots/workers/instabotScripts/*
!bots/workers/instabotScripts/example.py
!logins/exampleAccount.js
accounts/*
!accounts/exampleAccount.js
bots/test.js
bots/private/img_1.jpg
bots/db/
bots/cookies/
